body {
	font-family: 'Roboto', sans-serif !important;
	padding-left: 10px;
	padding-right: 10px;
}

.navbar {
	padding-top: 10px;
	background-color: white;
	color: black;
	height: 70px;
	margin-bottom: 0px;
}

.navbar-brand {
	padding-top: 0;
}

.carousel-inner > .first-header {
	background-image: url("http://www.corsaracingkart.com/download/wall1600.jpg");
	background-position: 50% 60%;
	background-repeat: no-repeat;
	background-color: white;
	background-size:cover; 
     }
.carousel-caption {
	position: absolute;
    top: 30%;
}

.navbar-collapse { 
	background: white;  
	color: black;
} 

.after-nav {
	margin-top: 90px;
}

.image-news {
	max-height: 320px;
	max-width: 100%;
}

.img-partner {
	max-width: 500px;
}

ul.pagination > li > span {
	color: black;
}

ul.pagination > li > a {
	color: #c2534f;
}

ul.pagination > li > a:hover, a:focus {
	color: #a2534f;
}

ul.pagination > li.active > span {
	background-color: #d9534f;
	border-color: #d9534f;
	color: black;
}

ul.pagination > li.active > span:hover, span:focus {
	background-color: #c2534f;
	border-color: #c2534f;
	color: black;
}
